@using System.DirectoryServices.AccountManagement;
@using Microsoft.AspNetCore.Identity
@using GradePredictor.Models
@using Microsoft.Extensions.Options
@using GradePredictor.Extensions
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IOptions<SystemSettings> ApplicationSettings

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                @ApplicationSettings.Value.Greeting, @Html.Raw(AccountIcon()) @User.GetFullName()!
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        @*<li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>*@
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>


@{
    string AccountIcon()
    {
        string icon = null;
        if (User.IsInRole("BMIS") || User.IsInRole("Admin"))
        {
            icon = "<i class=\"fab fa-windows\"></i> ";
        }
        else if (User.IsInRole("Subcontractor"))
        {
            icon = "<i class=\"fas fa-city\"></i> ";
        }
        else
        {
            icon = "<i class=\"fas fa-user\"></i> ";
        }

        return icon;
    }

}